h1 {
  color: blue;
}

h3 {
  color: green;
}

body {
  text-align: left;
  font-family: helvetica;
  font-size: 18px;
  width: 50%;
}

h2.intro {
  color: orange;
}

.special {
  font-style: italic;
}

p.share {
  color: #28a8e2;
}

div.posts {
  color: #444444;
}

div.myself{
  color: blue;
}
